.Button {
    cursor: pointer;
    color: var(--color-white);
    border-radius: 2px;
    background: var(--color-purple);
    border: none;

    &:hover {
        opacity: 0.8;
        fill-opacity: 80%;
        stroke-opacity: 80%;
    }
}

.size_m {
    font: var(--font-m);
    padding: 8px 12px;
}

.size_l {
    font: var(--font-l);
    padding: 12px 16px;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.fullWidth {
    width: 100%;
}
