@import './shared/styles/reset';
@import '../fonts/SourceSansPro/sourceSansPro.css';
@import './shared/styles/global';

body {
    font: var(--font-m);
    font-weight: 400;
    color: var(--color-black);
}

.content-page {
    display: flex;
    background: var(--color-white);
    min-height: 100vh;
}
